.header {
    display: flex;
    justify-content: space-between;
    background-color: #e2f4f7;
    padding: 15px;
    align-items: center;}
    .header .logo{
        margin-left: 1em;
    }
    .nav>ul {
        display: flex;
        color: white;
        column-gap: 2em;
        margin: 0px;
        padding: 0 0.5em;}
        .nav>ul {list-style: none;}

* {background-color: #e2f4f7;}








